[buildout]
extends = http://pythonpackages.com/buildout/plone/4.3.x-dev

[plone]
eggs += 
    plone.formwidget.recaptcha
    z3c.jbot
    ZODB3
scripts = ZODB3
resources = ${buildout:directory}/resources
zcml-additional =
    <configure
        xmlns:browser="http://namespaces.zope.org/browser"
        >
        <include package="z3c.jbot" file="meta.zcml" />
        <browser:jbot directory="${buildout:directory}/templates" />
    </configure>
